.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, purple, #2980b9);
  min-height: 100vh;
  color: white;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.companyName {
  font-size: 6rem; /* Increased font size */
}

.descriptionText {
  margin-top: 20px;
  font-size: 1.5rem; /* Increased font size */
}

.ctaButton {
  margin-top: 75px;
  padding: 15px 30px; /* Increased padding for a bigger button */
  background-color: transparent;
  border: 2px solid white;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  outline: none;
}

.inputContainer {
  margin-top: 75px;
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Align children to the end (right side) */
}

.emailInput {
  margin-right: 10px; /* Add some spacing between input and send button */
  padding: 8px;
  border: 2px solid white;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
}

.sendButton {
  cursor: pointer;
  outline: none;
  color: white;
  background-color: transparent;
  border: none;
}

.sendButton-span {
  font-size: 2.25rem;
}

.bigger-cube {
  font-size: 5rem;
  vertical-align: -8px;
}
