.App {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, purple, #2980b9);
  min-height: 100vh;
}

.main-content {
  text-align: center;
  
  h1, p {
    color: white;
  }
}
